[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://gitee.com/mirrors/googletest.git
[submodule "third_party/sql-parser"]
	path = third_party/sql-parser
	url = https://github.com/hyrise/sql-parser.git
